name: Call a reusable workflow

on:
  pull_request:
    branches:
      - main
      - prod
  push:
    branches:
      - main
      - prod

jobs:
  call-workflow-passing-data:
    permissions:
      contents: read
      pull-requests: write
    uses: SandBoxFeatureOrg/required-workflow-sandbox/.github/workflows/called-workflow.yml@main
    with:
      var_a: ${{ vars.VAR_A }}
      var_b: ${{ vars.VAR_B }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  print-vars:
    runs-on: ubuntu-latest
    steps:
    - name: print-vars
      run: |
         echo "VAR-A is : ${{ vars.VAR_A }}"
         echo "VAR-B is : ${{ vars.VAR_B }}"
         echo "SECRET is : ${{ secrets.GITHUB_TOKEN }}"
         
      
    
  
